body {
    font-family: times new roman;
    background: url('gambar.jpg');
    text-align: center;
}
table {
    background: transparent;
    width : 50%;
    margin-top: 50px;
    align-items: center;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding : 10px;
    align-items: center;
}
tr:hover {
    background-color: antiquewhite;
}
tr.b {
    background-color: aquamarine;
    font-weight: bold;
    text-align: center;
}
